/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 24, 2025, 8:38:01 AM
    Author     : admin
*/


.Main {
    -fx-background-color: #FFFFFF;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 5;
}

.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: #000000;
    -fx-stroke-width: 3;
    -fx-stroke: lightcoral;
}

.Button {
    -fx-background-color: #E0E0E0;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-pref-width: 200;
}